@import '../../../stylesheets/common.scss';
@import "../../../stylesheets/loader.scss";
@import "../../../stylesheets/pagination.scss";


.imageSize {
  width: 400px;
  height: 300px;
}

.column {
  padding: 5px;
}
